.fondo, body{
    background: rgb(25, 42, 50);
}

a{
    color: black;
    text-decoration: none;
}

.content{
    width: 65%;
}

.bloque{
    background: #1f3540;
}

.user{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.letraPersonalizada{
    font-weight: 700;
}

.equis{
    color: #33bab5;
}

.iconButtom{
    background: #192a32;
    color: #8096a1;
    transition: all .84s;
}

.titleIcon{
    color: #8096a1;
}

.iconButtom:hover{
    cursor: pointer;
}

.circle{
    color: #e6b149;
}

.active{
    background: #8096a1;
    color: #192a32;
}

.smallText{
    color: #8096a1;
}

.titleGame{
    font-size: 20px;
}

.cuadricula{
    height: 60px;
    font-size: 40px;
    text-align: center;
}

.cuadricula:hover{
    cursor: pointer;
}

.cuadro{
    background: #1f3540;
}

.winner{
    background-color: #ff6d05;
    color: #000042;
    border: 1px dotted #3f525b;
}